{% extends "base.html" %}

{% block content %}
<title>文章</title>
{% for a in articles %}
<div class="uk-container uk-container-small uk-margin-top article-background uk-box-shadow-medium uk-box-shadow-hover-xlarge">
    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-margin-top">
                <a href="{{ url_for('blog.details', id=a.id) }}" class=""><img class="uk-comment-avatar" src="{{ a.thumbnail|default(url_for('static', filename='img/photo.jpg'), true) }}" width="80" height="80" alt=""></a>
            </div>
            <div class="uk-width-expand uk-margin-top">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-heading" href="{{ url_for('blog.details', id=a.id) }}">{{ a.title }}</a></h4>
                <p class="uk-comment-meta article-date">{{ a.time.strftime('%Y{y}%m{m}%d{d} %H:%M').format(y='年', m='月', d='日') }}</p>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-bottom">
            <p>{{ a.descp }}</p>
        </div>
    </article>
</div>
{% endfor %}
{% endblock %}
