{% extends "base.html" %}

{% block content %}
<title>文章</title>
<div class="uk-container uk-container-small uk-margin-top article-background uk-box-shadow-medium uk-box-shadow-hover-xlarge">
    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-margin-top">
                <img class="uk-comment-avatar" src="{{ url_for('static', filename='img/photo.jpg') }}" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand uk-margin-top">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-heading" href="#">Python生成器的send方法</a></h4>
                <p class="uk-comment-meta article-date">12 April 2012</p>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-bottom">
            <p>send方法可以在yield的基础上对值进行传递，如下面的例子，send(100)会传递100这个值给x。注意，生成器被创建后，在没有被startup前，不能使用send方法传递值</p>
        </div>
    </article>
</div>
<div class="uk-container uk-container-small uk-margin-top article-background uk-box-shadow-medium uk-box-shadow-hover-xlarge">
    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-margin-top">
                <img class="uk-comment-avatar" src="{{ url_for('static', filename='img/photo2.jpg') }}" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand uk-margin-top">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-heading" href="#">Python生成器的send方法</a></h4>
                <p class="uk-comment-meta article-date">12 April 2012</p>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-bottom">
            <p>send方法可以在yield的基础上对值进行传递，如下面的例子，send(100)会传递100这个值给x。注意，生成器被创建后，在没有被startup前，不能使用send方法传递值</p>
        </div>
    </article>
</div>
<div class="uk-container uk-container-small uk-margin-top article-background uk-box-shadow-medium uk-box-shadow-hover-xlarge">
    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-margin-top">
                <img class="uk-comment-avatar" src="{{ url_for('static', filename='img/photo2.jpg') }}" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand uk-margin-top">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-heading" href="#">Python生成器的send方法</a></h4>
                <p class="uk-comment-meta article-date">12 April 2012</p>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-bottom">
            <p>send方法可以在yield的基础上对值进行传递，如下面的例子，send(100)会传递100这个值给x。注意，生成器被创建后，在没有被startup前，不能使用send方法传递值</p>
        </div>
    </article>
</div>
<div class="uk-container uk-container-small uk-margin-top article-background uk-box-shadow-medium uk-box-shadow-hover-xlarge">
    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-margin-top">
                <img class="uk-comment-avatar" src="{{ url_for('static', filename='img/photo2.jpg') }}" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand uk-margin-top">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-heading" href="#">Python生成器的send方法</a></h4>
                <p class="uk-comment-meta article-date">12 April 2012</p>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-bottom">
            <p>send方法可以在yield的基础上对值进行传递，如下面的例子，send(100)会传递100这个值给x。注意，生成器被创建后，在没有被startup前，不能使用send方法传递值</p>
        </div>
    </article>
</div>



<div class="uk-container uk-container-small uk-margin-top article-background uk-box-shadow-medium uk-box-shadow-hover-xlarge">
    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-margin-top">
                <img class="uk-comment-avatar" src="{{ url_for('static', filename='img/photo2.jpg') }}" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand uk-margin-top">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-heading" href="#">Python生成器的send方法</a></h4>
                <p class="uk-comment-meta article-date">12 April 2012</p>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-bottom">
            <p>send方法可以在yield的基础上对值进行传递，如下面的例子，send(100)会传递100这个值给x。注意，生成器被创建后，在没有被startup前，不能使用send方法传递值</p>
        </div>
    </article>
</div>
<div class="uk-container uk-container-small uk-margin-top uk-margin-xlarge-bottom article-background uk-box-shadow-medium uk-box-shadow-hover-xlarge">
    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-margin-top">
                <img class="uk-comment-avatar" src="{{ url_for('static', filename='img/photo2.jpg') }}" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand uk-margin-top">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-heading" href="#">Python生成器的send方法</a></h4>
                <p class="uk-comment-meta article-date">12 April 2012</p>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-bottom">
            <p>send方法可以在yield的基础上对值进行传递，如下面的例子，send(100)会传递100这个值给x。注意，生成器被创建后，在没有被startup前，不能使用send方法传递值</p>
        </div>
    </article>
</div>
{% endblock %}
