{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}{{ category }}{% endblock %}
{% block content %}
<div class="uk-container uk-container-small uk-margin-top">
    <h3>文章分类 - <span class="uk-text-bold">{{ category }}</span></h3>
</div>

{% for a in result.items %}
<div class="uk-container uk-container-small uk-margin-top article-background uk-box-shadow-medium uk-box-shadow-hover-xlarge">
    <article class="uk-comment">
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto uk-margin-top">
                <a href="{{ url_for('blog.details', id=a.id) }}" class="">
                    <img class="uk-comment-avatar" src="{{ a.thumbnail|default(url_for('static', filename='img/thumbnail/default.jpg'), true) }}" width="80" height="80" alt="">
                </a>
            </div>
            <div class="uk-width-expand uk-margin-top">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-heading" href="{{ url_for('blog.details', id=a.id) }}">{{ a.title }}</a></h4>
                <p class="uk-comment-meta article-date">
                    {{ a.time.strftime('%Y{y}%m{m}%d{d} %H:%M').format(y='年', m='月', d='日') }}
                    <a href="{{ url_for('blog.category', category=a.category, page=1) }}" class="uk-link-reset"><span uk-icon="icon: tag" class="uk-icon uk-margin-left"></span>
                    {{ a.category }}
                    </a>
                </p>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-bottom">
            <p>{{ a.descp }}</p>
        </div>
    </article>
</div>
{% endfor %}

<div class="uk-container uk-container-small uk-margin-large-top uk-margin-xlarge-bottom">
    <ul class="uk-pagination uk-flex-center" uk-margin>
        {% if result.has_prev %}
        <li><a href="{{ url_for('blog.articles', page=articles.prev_num) }}"><span uk-pagination-previous></span></a></li>
        {% else %}
        <li class="uk-disabled"><a href="#"><span uk-pagination-previous></span></a></li>
        {% endif %}

        {% for i in range(result.pages) %}
            {% if result.page == i+1 %}
                <li class="uk-active"><span>{{ i+1 }}</span></li>
            {% else %}
                <li><a href="{{ url_for('blog.articles', page=i+1) }}">{{ i+1 }}</a></li>
            {% endif %}
        {% endfor %}

        {% if result.has_next %}
        <li><a href="{{ url_for('blog.articles', page=articles.next_num) }}"><span uk-pagination-next></span></a></li>
        {% else %}
        <li class="uk-disabled"><a href="#"><span uk-pagination-next></span></a></li>
        {% endif %}

    </ul>
</div>

{% endblock %}
