{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}首页{% endblock %}
{% block content %}
<div class="uk-container uk-container-small uk-margin-top center">
    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
        <div>
            <div class="uk-text-center uk-box-shadow-large uk-box-shadow-hover-xlarge" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="{{ url_for('static', filename='img/articles.jpg') }}" width="350" height="250" alt="">
                    <div class="uk-position-center">
                        <div class=""><h1 class="uk-margin-remove uk-text-bold"><a href="{{ url_for('blog.articles', page=1) }}" class="">文章</a></h1></div>
                        <div class=""><h4 class="uk-margin-remove">About my articles.</h4></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-text-center uk-box-shadow-large uk-box-shadow-hover-xlarge" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="{{ url_for('static', filename='img/about.jpg') }}" width="350" height="250" alt="">
                    <div class="uk-position-center">
                        <div class=""><h1 class="uk-margin-remove  uk-text-bold"><a href="{{ url_for('blog.about') }}" class="">关于</a></h1></div>
                        <div class=""><h4 class="uk-margin-remove">About myself.</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
