{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}登陆{% endblock %}
{% block content %}
<div class="uk-container container-small uk-margin-xlarge-top uk-margin-xlarge-bottom">
    <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">请先登录</legend>

            {% if get_flashed_messages() %}
            <div class="uk-alert-danger" uk-alert>
                {% for message in get_flashed_messages() %}
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if form.username.errors %}
            <div class="uk-alert-danger" uk-alert>
                {% for error in form.username.errors %}
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% elif form.password.errors %}
            <div class="uk-alert-danger" uk-alert>
                {% for error in form.password.errors %}
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    {{ form.username(class="uk-input", required=True, oninvalid="this.setCustomValidity('请输入用户名!')", onchange="this.setCustomValidity('')") }}
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    {{ form.password(class="uk-input", required=True, oninvalid="this.setCustomValidity('请输入密码!')", onchange="this.setCustomValidity('')") }}
                </div>
            </div>
            {{ form.login(class="uk-button uk-button-secondary uk-width-1-1") }}
        </fieldset>
    </form>
</div>
{% endblock %}