{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/reload.js') }}"></script>
{% endblock %}

{% block title %}发表文章{% endblock %}
{% block content %}
<div class="uk-container uk-container-small uk-margin-top uk-margin-xlarge-bottom">
    <form id="publish-form" method="POST" enctype=multipart/form-data action="/publish">
        {{ form.hidden_tag() }}
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">发表文章</legend>

            {% if get_flashed_messages() %}
            <div class="uk-alert-danger" uk-alert>
                {% for message in get_flashed_messages() %}
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if form.title.errors %}
            <div class="uk-alert-danger" uk-alert>
                {% for error in form.title.errors %}
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% elif form.descp.errors %}
            <div class="uk-alert-danger" uk-alert>
                {% for error in form.descp.errors %}
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% elif form.content.errors %}
            <div class="uk-alert-danger" uk-alert>
                {% for error in form.content.errors %}
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="uk-margin">
                {{ form.title(class="uk-input") }}
            </div>

            <div class="uk-margin">
                {{ form.descp(class="uk-textarea", rows="3") }}
            </div>

            <div class="uk-margin">
                {{ form.content(class="uk-textarea", rows="20", id="editor") }}

            </div>

            <div class="uk-margin">
                <span class="uk-text-middle">文章缩略图：</span>
                <div class="upload-thumbnail">
                    <div uk-form-custom="target: true">
                        <input type="file" name="thumbnail">
                        <input class="uk-input uk-form-small" type="text" placeholder="选择文件" disabled>
                    </div>
                </div>
            </div>

            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" name="radio" value="技术" checked> 技术</label>
                <label><input class="uk-radio" type="radio" name="radio" value="生活"> 生活</label>
            </div>

            <button class="uk-button uk-button-primary">发表</button>
            <button class="uk-button uk-button-danger" uk-toggle="target: #modal-cancel">取消</button>
            <div id="modal-cancel" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <p>你所有的编辑内容将会丢失，确定放弃发布？</p>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
                        <a class="uk-button uk-button-primary" href="{{ url_for('blog.articles', page=1) }}">确定</a>
                    </p>
                </div>
            </div>
        </fieldset>
		<script>
            CKEDITOR.replace('editor', {
                filebrowserUploadUrl: '/ckupload/',
            });
        </script>
    </form>
</div>
{% endblock %}
