body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

html {
  background-color: #f1f1f1;
}
.uk-navbar-nav>li>a, .menu-text {
  font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.center {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.article-background {
  background-color: #f9f9f9;
}

.article-date {
  margin-top: 5px;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color: #efefef;
}

.container-small {
  max-width: 250px;

}

.upload-thumbnail {
  display:inline-block;
}

a.tab-size {
  font-size: 20px;
}

a#like:hover  {
  color: red;
}

table{
    table-layout: fixed;
    width: 200px;
}

a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

h1.text-center, a.text-center {
    text-align: center;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #f1f1f1;
}

.side-tool {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1040;
}